<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.testpress.exam">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true" >

        <activity android:name=".ui.ExamsListActivity"
            android:label="@string/testpress_exams"
            android:theme="@style/TestpressTheme"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name=".ui.TestActivity"
            android:label="@string/testpress_start_exam"
            android:theme="@style/TestpressTheme"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name=".ui.AccessCodeActivity"
            android:label="@string/testpress_access_code"
            android:theme="@style/TestpressTheme"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name=".ui.ReviewStatsActivity"
            android:label="@string/testpress_test_report"
            android:theme="@style/TestpressTheme"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name=".ui.SearchActivity"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/TestpressTheme"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name=".ui.CategoryGridActivity"
            android:theme="@style/TestpressTheme" />

        <activity android:name=".ui.ReviewQuestionsActivity"
            android:label="@string/testpress_solutions"
            android:theme="@style/TestpressTheme"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name=".ui.TimeAnalyticsActivity"
            android:label="@string/testpress_time_analytics_label"
            android:theme="@style/TestpressTheme"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name=".ui.AnalyticsActivity"
            android:label="@string/testpress_analytics"
            android:theme="@style/TestpressTheme"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name=".ui.AttemptsActivity"
            android:theme="@style/TestpressTheme"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/CropImageActivityTheme" />

        <activity android:name=".ui.AccessCodeExamsActivity"
            android:label="@string/testpress_exams"
            android:theme="@style/TestpressTheme"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name=".ui.ShareToUnLockActivity"
            android:label="@string/testpress_share"
            android:theme="@style/TestpressTheme"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity
            android:name=".ui.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Web View" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>
