<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.testpress.exam">

    <application
        android:allowBackup="true"
        android:supportsRtl="true" >

        <activity android:name=".ui.ExamsListActivity"
            android:label="@string/testpress_exams"
            android:theme="@style/TestpressAppThemeDark"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name=".ui.TestActivity"
            android:label="@string/testpress_start_exam"
            android:theme="@style/TestpressAppThemeDark.NoToolBar"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name=".ui.AttemptsListActivity"
            android:theme="@style/TestpressAppThemeDark"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name=".ui.ReviewActivity"
            android:label="@string/testpress_review_label"
            android:theme="@style/TestpressAppThemeDark"
            android:configChanges="orientation|keyboard|screenSize" />

    </application>

</manifest>
