<manifest package="in.testpress"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true"
                 android:supportsRtl="true" >

        <activity android:name=".ui.ZoomableImageActivity"
            android:theme="@style/TestpressTheme" />

    </application>

</manifest>
