<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.testpress">

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <meta-data android:name="io.sentry.auto-init" android:value="false" />

        <activity android:name=".ui.UserDevicesActivity"
            android:theme="@style/TestpressTheme" />
        <activity
            android:name=".ui.ZoomableImageActivity"
            android:theme="@style/TestpressTheme" />
        <activity
            android:name=".ui.DiscussionActivity"
            android:theme="@style/TestpressTheme" />

        <activity
            android:name=".ui.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Web View" />

        <activity
            android:name=".ui.WebViewWithSSOActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <receiver android:name=".util.FileDownloaderBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <provider
            android:name=".util.TestpressFileProvider"
            android:authorities="${applicationId}.testpressFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/testpress_provider_paths"/>
        </provider>

    </application>

</manifest>