<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.testpress">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".ui.UserDevicesActivity"
            android:theme="@style/TestpressTheme" />
        <activity
            android:name=".ui.ZoomableImageActivity"
            android:theme="@style/TestpressTheme" />
        <activity
            android:name=".ui.DiscussionActivity"
            android:theme="@style/TestpressTheme" />

        <activity
            android:name=".ui.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Web View" />
        <receiver android:name=".util.FileDownloaderBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>