
@font-face {
    font-family: "Rubik-Regular";
    src: url('Rubik-Regular.ttf');
}

@font-face {
    font-family: "Rubik-Medium";
    src: url('Rubik-Medium.ttf');
}

@font-face {
    font-family: "PT-Serif-Regular";
    src: url('PT_Serif-Web-Regular.ttf');
}

hr {
   margin: 0px;
   border: 0px;
   border-bottom: 1px solid #e6e6e6;
}

/* Copy & Lists */
p {
  line-height: 1.7rem;
  vertical-align: top;
  margin-top: 0rem;
  margin-bottom: 0;
}

.table-without-border {
    border: initial;
    padding-top: 5px;
    padding-right: 0px;
    line-height: initial;
}

.alphabetical-option-ring-attempted {
    width: 25px;
    height: 25px;
    line-height: 25px;
    flex: 0 0 25px;
    color: #fff;
    background: #ddd;
    border-radius: 50%;
    *zoom: 1;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    font-family: 'Rubik-Medium', sans-serif;
    font-size: 0.875rem;
}

.alphabetical-option-ring-general {
    width: 25px;
    height: 25px;
    line-height: 25px;
    flex: 0 0 25px;
    border:1px solid #bbb;
    border-radius: 50%;
    color: #aaa;
    background: #fff;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    font-family: 'Rubik-Medium', sans-serif;
    font-size: 0.875rem;
}

.option-item {
    padding-top: 21px;
    padding-bottom: 17px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-flow: row;
    color: #666666;
    font-family: 'PT-Serif-Regular', serif;
}

.review-option-item {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-flow: row;
    color: #444;
    font-family: 'PT-Serif-Regular', serif;
}

.review-option-text {
    padding-top: 3px;
}

.review-heading {
    text-transform: uppercase;
    display: inline;
    color: #333;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 1rem;
    font-family: 'Rubik-Medium', sans-serif;
}

.review-question-index {
    display: inline-block;
    min-width: 10px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 5px;
    float: left;
    padding-right: 8px;
    padding-left: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 0.9rem;
    color: #484848;
    text-align: center;
    font-family: 'Rubik-Medium', sans-serif;
}

.question-index {
    display: inline-block;
    min-width: 10px;
    margin-top: 15px;
    margin-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 13px;
    padding-left: 13px;
    border: 1px solid #00ccaa;
    border-radius: 15px;
    font-size: 14dp;
    color: #ffffff;
    background: #00ccaa;
    text-align: center;
    font-family: 'Rubik-Medium', sans-serif;
}

.question {
    text-align: justify;
    font-family: 'Rubik-Medium', sans-serif;
    color: #444;
    padding: 10px;
}

.review-explanation {
    color: #666;
    text-align: justify;
    font-family: 'PT-Serif-Regular', serif;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.mark-button {
    color: #ffffff;
    border: 0px;
    border-radius: 100px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-family: "Rubik-Medium";
    background: #ffa319;
    outline: 0;
 }

 .unmark-button {
    color: #ffa31a;
    border: 1px solid #ffa319;
    border-radius: 100px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-family: "Rubik-Medium";
    background: #ffffff;
    outline: 0;
 }

.option-item-selected {
    background-color: rgba(23, 147, 230, 0.1);
}

.subject {
    color: #666;
    font-family: 'PT-Serif-Regular', serif;
    display: inline-block;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* position relative only needed for positioning context for workaround */
  position: relative;
}

.wrapper span {
  text-align: center left;
  vertical-align: middle;
}

.no-flexbox.flexboxlegacy span {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

span {
    outline: 0;
}

.exam-title {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 24px;
    color: #333333;
    font-family: Lato;
    font-weight: bold;
}

.exam-description {
    margin-left: 20px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #666666;
}

.time-analytics-question-index {
    width: 40px;
    height: 30px;
    line-height: 40px;
    flex: 0 0 40px;
    color: #fff;
    background: #00ccaa;
    border-radius: 15px;
    *zoom: 1;
    margin-right: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    font-family: Lato;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.time-analytics-question {
    margin-top: 30px;
    margin-left: 10px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.38;
    color: #333333;
}

.time-heading {
    width: 150px;
    font-size: 16px;
    text-align: left;
    padding-top: 12px;
    color: #333333;
    vertical-align: middle;
    font-family: Lato;
    font-weight: bold;
    line-height: 1.25;
}

.time {
    width: 40px;
    text-align: center;
    color: #ffffff;
    background: #3598db;
    border-radius: 5px;
    padding-top: 13px;
    height: 25px;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
}

.show-answer {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    padding: 2px;
    border-bottom: 1px solid #999999;
    display: inline-block;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    color: #999999;
}

.no-question-error {
    margin-top: 200px;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.38;
    color: #333333;
}

.bookmark-button {
    margin-top: 20px;
    margin-right: 15px;
    float: right;
    font-size: 16px;
    color: #bfbfbf;
    display: flex;
    align-items: center;
    font-family: 'Rubik-Regular', sans-serif;
}

.bookmark-image {
    width: 12px;
    height: 14.2px;
    margin-right: 8px;
}

html, body {
    height: 100%;
}

.question_container {
    min-height: 100%;
    /* equal to review_later_button_layout height */
    margin-bottom: -60px;
}

.question_container:after {
    content: "";
    display: block;
}

.review_later_button_layout, .question_container:after {
    height: 60px;
}

.review_later_button_layout {
    padding-left: 60px;
    padding-right: 60px;
}

::placeholder {
    color: #cccccc;
    font-size: 12px;
}

input:focus {
    outline: none !important;
    border-color: #dddddd;
    box-shadow: 0 0 10px #cccccc;
}

.edit_box {
    font-family: 'Rubik-Regular', serif;
    display: block;
    font-size: 14px;
    line-height: 20px;
    border: solid 1px #cccccc;
    padding: 10px;
    min-height: 20px;
    margin: 20px;
    border-radius: 5px;
    vertical-align: middle;
    word-wrap: break-word;
    -webkit-user-select: text;
    user-select: text;
}

.short_answer_option_item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: #666666;
    text-align: left;
    font-family: 'PT-Serif-Regular', serif;
}

body.watermark::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    top: -50%;
    left: -50%;
    z-index: 999;
    transform: translateY(60%) rotate(45deg);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

body.review-watermark::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 400px;
    opacity: 0.1;
    left: -30%;
    z-index: 999;
    transform: translateY(30%) rotate(45deg);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    display: block;
}

.correct-tick {
    color: #18be99;
    padding-top: 3px;
    font-weight: bold;
    margin-left: 5px;
}