<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.testpress.course">

    <application
        android:allowBackup="true"
        android:supportsRtl="true" >

        <activity android:name=".ui.CourseListActivity"
            android:label="@string/testpress_courses"
            android:theme="@style/TestpressTheme"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name=".ui.ChaptersGridActivity"
            android:theme="@style/TestpressTheme" />

        <activity android:name=".ui.ContentsListActivity"
            android:theme="@style/TestpressTheme"
            android:configChanges="orientation|keyboard|screenSize" />

        <activity android:name=".ui.HtmlContentActivity"
            android:theme="@style/TestpressTheme" />

    </application>

</manifest>
